.drip-line{
    width: 12.2%;
    height: 0.25px;
    position: absolute !important;
    top: 82.2%;
    background-color: rgb(246, 188, 23);
    transform: rotate(16deg);
    left: 49%;
    border-radius: 5px;
}