.rain {
  position: absolute;

  width: 5%;
  height: 1%;
  pointer-events: none;
  z-index: 1;
}

.drop {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #00f;
  animation: rain-fall 1s linear infinite;
}

@keyframes rain-fall {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
