@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.valveon {
  /* background-color: "red !important"; */
  animation: valveON 500ms infinite;
}

@keyframes valveON {
  0% {
    fill: #2cf651;
  }
  100% {
    fill: #00f;
  }
}

.courtyard-container {
  height: 90vh;
  width: 100%;
  background-image: url("/src/images/courtyard.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;

  align-self: center;
}
